{% extends 'base.html' %}
{% block content %}
<div class="siuu" style="height: 100vh;display: flex;justify-content: center;align-items: center;">
    <div class="container mt-5">
        <div class="row d-flex align-items-center justify-content-center">
          
            <div class="col-md-6">
                <h2 class="text-center">Simple Task Management System</h2>
                <p class="text-center">
                    Welcome to our Task Management System – A Solution for Organizing Your Tasks!
        
                    Our Task Management System is designed to help you keep track of your tasks efficiently. Whether you're a professional managing projects or an individual organizing personal tasks, our system provides a user-friendly interface to streamline your workflow.
                </p>
              </div>
      
          
          <div class="col-md-6">
            <img src="static/taskManagement.webp" alt="Task Management System Image" class="img-fluid mx-auto d-block">
          </div>
        </div>
      </div>
</div>
{% endblock %}
